@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body{
    font-size: 100%;
    background-color: rgb(11, 0, 67);
    color: white;
}
html{
    scroll-behavior: smooth;
}
.foto-perfil{
    width: 75PX;
    height: 75px;
    border-radius: 50%;
    margin-left: 2%;
    border-width: 5px;
    order: 1;
}
.cabeçalho{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
    margin-bottom: 48px;
    position: fixed;
    top: 0;
    width: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(44, 108, 172, 0.98) 0.1%, rgba(0,7,128,1) 99.8% );
    align-items: center;
    margin-left: -1%;
    }
.foto-perfil:hover{
    scale: 110%;
transition: 0.2s;}
.contato{
    margin-top: 12%;
    background-color: blue;
    width: 8%;
    color:white;
    display: flex;
    margin-bottom: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5.66229px 11.3246px;
    gap: 9.44px;
    width: 120.65px;
    height: 30px;
    left: 47.19px;
    top: 152.88px;
    /* Black */
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(44, 108, 172, 0.98) 0.1%, rgba(0,7,128,1) 99.8% );
}
.Perfil{
    margin-top: 3%;
    background-color: blue;
    width: 8%;
    color:white;
    display: flex;
    margin-bottom: 4px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5.66229px 11.3246px;
    gap: 9.44px;
    width: 120.65px;
    height: 30px;
    left: 47.19px;
    top: 261.41px;
    /* Black */
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(44, 108, 172, 0.98) 0.1%, rgba(0,7,128,1) 99.8% );
}
.carreira{
    margin-top: 3%;
    background-color: blue;
    width: 8%;
    color:white;
    display: flex;
    margin-bottom: 4px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5.66229px 11.3246px;
    gap: 9.44px;
    width: 120.65px;
    height: 30px;
    left: 47.19px;
    top: 261.41px;
    /* Black */
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(44, 108, 172, 0.98) 0.1%, rgba(0,7,128,1) 99.8% );
}
.estudos{
    margin-top: 3%;
    background-color: blue;
    width: 8%;
    color:white;
    display: flex;
    margin-bottom: 4px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5.66229px 11.3246px;
    gap: 9.44px;
    width: 120.65px;
    height: 30px;
    left: 47.19px;
    top: 261.41px;
    /* Black */
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(44, 108, 172, 0.98) 0.1%, rgba(0,7,128,1) 99.8% );
}
.certificado{
    margin-top: 3%;
    background-color: blue;
    width: 8%;
    color:white;
    display: flex;
    margin-bottom: 4px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5.66229px 11.3246px;
    gap: 9.44px;
    width: 120.65px;
    height: 30px;
    left: 47.19px;
    top: 261.41px;
    /* Black */
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(44, 108, 172, 0.98) 0.1%, rgba(0,7,128,1) 99.8% );
}
.habilidades{
    margin-top: 3%;
    background-color: blue;
    width: 8%;
    color:white;
    display: flex;
    margin-bottom: 4px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5.66229px 11.3246px;
    gap: 9.44px;
    width: 120.65px;
    height: 30px;
    left: 47.19px;
    top: 261.41px;
    /* Black */
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(44, 108, 172, 0.98) 0.1%, rgba(0,7,128,1) 99.8% );
}
.hobby{
    margin-top: 3%;
    background-color: blue;
    width: 8%;
    color:white;
    display: flex;
    margin-bottom: 4px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5.66229px 11.3246px;
    gap: 9.44px;
    width: 120.65px;
    height: 30px;
    left: 47.19px;
    top: 261.41px;
    /* Black */
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(44, 108, 172, 0.98) 0.1%, rgba(0,7,128,1) 99.8% );
}
.diva{
    width: 150px;
    height: 150px;
    margin-top: 2%;
}
.divb{
    width: 150px;
    height: 150px;
    margin-top: 2%;
}
main{
    margin-left: 3%;
}
.nomes h1, h3{
    margin-left: 7%;
    width: 500px;
    font-weight: 100;
}

.quadrado-foto {
    z-index: 1;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
    width: 90px;
    height: 90px;
    left: 8px;
    top: 8px;
    margin-right: 0px;
    border-radius: 90px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 2%;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #1100ff;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:   #00c6ff;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    font-style: normal;
}
nav li:hover ul:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255, 255, 255,00.2s);
    font-size: 10px;
}
#contato{
    scroll-margin-block-start: 140px;
}
#Perfil{
    scroll-margin-block-start: 140px;
}
#Carreira{
    scroll-margin-block-start: 140px;
}
#estudos{
    scroll-margin-block-start: 140px;
}
#certifcados{
    scroll-margin-block-start: 140px;
}
#habilidades{
    scroll-margin-block-start: 140px;
}
#hobby{
    scroll-margin-block-start: 140px;
}
.faculdade{
    margin-top: -20px;
}